.Background {
  background-attachment: fixed;
  background-image: url('../../Assets/CatR_Background.webp');
  background-size: 100% auto;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

h1 {
  margin: 0;
}

.Main {
  font-family: 'Fontdiner Swanky', sans-serif;
  z-index: 1;
}

.Nav {
  z-index: 1;
}

/* .Photo {
  display: flex;
  width: 100%;
  height: auto;
  left: 0;
  opacity: 0.85;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.Photo2 {
  display: flex;
  width: 100%;
  height: auto;
  left: 0;
  opacity: 0.85;
  margin-top: 10px;
  position: fixed;
  right: 0;
  z-index: -1;
} */

.Full_Page {
  height: 100vh;
}
